<div class="row" id="educación">
    <h2 class="titule">Educación</h2>
    
    <div class="timeline">
    
        <div *ngFor="let Educacion of educacion" class="container right-container">
            <img src="../../../assets/descarga-removebg-preview.png">
            <div class="text-box">
                <h2>Nuestra Señora de gracia y buen remedio</h2>
                <small>2018 - 2022</small>
                <p>
                    El Instituto "Nuestra Señora de Gracia y Buen Remedio" es una escuela católica que tiene como finalidad, la formación integral de los alumnos, de acuerdo con la concepción cristiana del hombre, de la vida y del mundo, y prepararlos para participar en la transformación y mejora de la sociedad.
                </p>
                <span class="right-container-arrow"></span>
                
            </div>
        </div>
        <div *ngFor="let Educacion of educacion" class="container left-container">
            <img src="../../../assets/ar-prog_loaago.png">
            <div class="text-box">
                <h2>Argentina Programa #seprogramar</h2>
                <small>2022</small>
                <p>
                    Es un programa para acceder a capacitaciones gratuitas en: programación, testing y habilidades digitales.
                </p>
                <span class="left-container-arrow"></span>
           
            </div>
        </div>
        <div *ngFor="let Educacion of educacion" class="container right-container">
            <img src="../../../assets/ar-prog_loaago.png">
            <div  class="text-box">
                <h2>Argentina Programa #yoprogramo</h2>
                <small>2022 - 2023</small>
                <p>
                    Es un programa para acceder a capacitaciones gratuitas en: programación, testing y habilidades digitales.
                </p>
                <span class="right-container-arrow"></span>
               
            </div>
        </div>
    </div> 
   
      
       
</div>